<a href="https://colab.research.google.com/github/Slaha97/Python-Projects/blob/main/Strings_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
my_name = 'Subham laha'
print('My name is '+my_name)  #string interpolation

My name is Subham laha

String Formatting using .format()

In [18]:
print('My name is {} {}'.format('Subham','Laha'))  #string interpolation using .format()

My name is Subham Laha

In [19]:
print('My name is {0} {1}'.format('Subham','Laha'))  #string interpolation using .format()

My name is Subham Laha

In [20]:
print('My name is {1} {0}'.format('Laha','Subham'))  #string interpolation using .format()

My name is Subham Laha

In [21]:
print('My name is {1} {1}'.format('Laha','Subham'))  #string interpolation using .format()

My name is Subham Subham

In [22]:
print('My name is {s} {l}'.format(l='Laha',s='Subham'))  #string interpolation using .format()

My name is Subham Laha

In [23]:
print('My name is {s} {s}'.format(l='Laha',s='Subham'))  #string interpolation using .format()

My name is Subham Subham

In [24]:
result = 10/3
print('The result is {r}'.format(r=result))  #string interpolation using .format()

The result is 3.3333333333333335

In [25]:
result = 10/3
print('The result is {r:1.3f}'.format(r=result))  #.format()  with 1 place before decimal and 3 places after decimal(precision)

The result is 3.333

String Formatting using f-strings

In [26]:
my_name = 'Subham laha'
print(f'My name is {my_name}')

My name is Subham laha

In [27]:
age = 26
print(f'{my_name} is {age} years old')

Subham laha is 26 years old